//  jumboltron

.jumboltron {
    background-color: #212529;
    background-image:  radial-gradient(#688073 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#688073 1.1500000000000001px, #212529 1.1500000000000001px);
    background-size: 46px 46px;
    background-position: 0 0,23px 23px;
}